<!-- 10. Macro-Entregas -->
<div class="wizard-step flex-grow-1" id="step10">
    <h4 class="fw-bold text-secondary border-bottom pb-2 mb-4">10. Macro-Entregas</h4>
    <div id="macroentregas-container"></div>
    <div class="text-center mt-3"><button type="button" class="btn btn-outline-primary fw-bold" id="btn-add-macroentrega"><i class="fas fa-plus me-2"></i> Adicionar Nova Macro-Entrega</button></div>
    <div class="d-flex justify-content-between mt-auto pt-3 pb-3 mb-2 border-top sticky-actions-bar">
        <button type="button" class="btn btn-light border  px-4 fw-bold btn-prev" data-prev="step9"><i class="fas fa-arrow-left me-2"></i> Voltar</button>
        <button type="button" class="btn btn-info text-white  px-4 fw-bold btn-next" data-next="step11">Próximo <i class="fas fa-arrow-right ms-2"></i></button>
    </div>
</div>
