# Configurações do Banco de Dados PostgreSQL - ARGUS
ARGUS_DB_NAME=argus_db
ARGUS_DB_USER=postgres
ARGUS_DB_PASSWORD=sua_senha_aqui
ARGUS_DB_HOST=localhost
ARGUS_DB_PORT=5432

# Segurança da Aplicação Django
SECRET_KEY=django-insecure-sua-chave-secreta
DEBUG=True

# Configurações de Hosts Permitidos
ALLOWED_HOSTS=127.0.0.1,localhost

# Chave de API do Gemini (opcional, para extração de NF-e via IA)
GEMINI_API_KEY=